<!DOCTYPE html>
<html>
    
<head>
<!-- SEO STUFF -->
<title><%m title %> | ThunderSmotch</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="<%m description %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="<%m url %>" />
<!-- Open Graph data -->
<meta property="og:title" content="<%m title %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%m url %>" />
<meta property="og:image" content="https://i.stack.imgur.com/59O8g.png" />
<meta property="og:description" content="<%m description %>" /> 
<!-- END OF SEO STUFF -->

<link rel="shortcut icon" href="/style/favicon.ico"/>

<script src="/js/mathjaxConfig.js"></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<script src="https://www.geogebra.org/apps/deployggb.js"></script>

<link rel="stylesheet" type="text/css" href="/style/webtex.css">
<link rel="stylesheet" type="text/css" href="/style/style.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168636305-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-168636305-2');
</script>
</head>

<body>
<div class="navbar"><%v navbarHTML %></div>
<div id="main">
<!-- TODO Include navbar here is metadata.navbar is true!  Need a new conditional parsing expression. -->