<%+ header.html %>

<!-- TODO
//Handle sidebar
let noSidebar = '';
if(sidebar == '')
    noSidebar = 'nosidebar';
-->

<div class="navbar"><%v navbarHTML %></div>
<div id="main">
<div id="sidebar"><%v sidebar %></div>
<div class="content ${noSidebar}">
    <%v body %>
<br>
<div class="nav_links">
<a href='#' class='nav_button' id='nav_previous' style='float:left;'> <- Previous </a>
<a href='#' class='nav_button' id='nav_next' style='float:right;'> Next -> </a>

<script>
let aa = document.querySelector('.sidebar a[href="' + window.location.pathname + '"]');
let prev = document.getElementById('nav_previous');
let next = document.getElementById('nav_next');
let n = aa.getAttribute("n");

let sidebar_p = document.querySelector('.sidebar a[n="' + (parseInt(n)-1) + '"]');
let sidebar_n = document.querySelector('.sidebar a[n="' + (parseInt(n)+1) + '"]');

if(sidebar_p == null) {
   prev.style = 'display: none;'
} else {
    prev.innerText = '<- ' + sidebar_p.innerText;
    prev.href = sidebar_p.href;
}
if(sidebar_n == null){
   next.style = 'display:none;'
} else {
   next.innerText = sidebar_n.innerText + ' ->';
   next.href = sidebar_n.href;   
}

</script>
</div>
<br>
<%+ comments.html %>
</div>
</div>

<%+ footer.html %>